<apex:page standardController="SDOC__SDoc__c" extensions="SDOC.SDTemplateController" showheader="false"
contentType="application/msWord#sdoc.doc" cache="true" standardStylesheets="false">
<head>
<apex:outputText value="{!SDOC__SDoc__c.SDTemplate__r.SDOC__Template_CSS_XML__c}" escape="false"/>
<apex:styleSheet value="{!URLFOR($Resource.SDOC__SDoc,'SDoc.css')}" />
</head>
<c:SDXMLComponent ></c:SDXMLComponent>

</apex:page>