<apex:page standardController="SDOC__SDoc__c" extensions="SDOC.SDTemplateController" showHeader="false" standardStylesheets="false" cache="true">
<head>
<apex:outputText value="{!SDOC__SDoc__c.SDTemplate__r.SDOC__Template_CSS_XML__c}" escape="false"/>
<apex:styleSheet value="{!URLFOR($Resource.SDOC__SDoc,'SDoc.css')}" /> 
</head>
<c:SDXMLComponent ></c:SDXMLComponent>
</apex:page>