<apex:page title="Big Cloud Realty" showHeader="false" controller="BigCloudSiteRegisterController">
	<apex:composition template="bigCloudTemplate">
		<apex:define name="mainContent">

			<apex:outputPanel styleclass="block" style="height: 300px;float:left;display:inline;width:445px">
				<div class="blockTitle"><span class="blue">Register</span></div>
				<div class="blockBody">
					<apex:form forceSSL="true">
						Provide the following information to sign up for a Big Cloud Realty account:
						<p/>
	                    <apex:panelGrid columns="2" style="margin-top:1em;">
	                      <apex:outputLabel value="{!$Label.site.username}" for="username"/>
	                      <apex:inputText required="true" id="username" value="{!username}"/>
	                      <apex:outputLabel value="{!$Label.site.community_nickname}" for="communityNickname"/>
	                      <apex:inputText required="true" id="communityNickname" required="true" value="{!communityNickname}"/>
	                      <apex:outputLabel value="{!$Label.site.email}" for="email"/>
	                      <apex:inputText required="true" id="email" required="true" value="{!email}"/>
	                      <apex:outputLabel value="{!$Label.site.password}" for="password"/>
	                      <apex:inputSecret id="password" value="{!password}"/>
	                      <apex:outputLabel value="{!$Label.site.confirm_password}" for="confirmPassword"/>
	                      <apex:inputSecret id="confirmPassword" value="{!confirmPassword}"/>
	                      <apex:outputText value=""/>
	                      <apex:commandButton action="{!registerUser}" value="{!$Label.site.submit}" id="submit"/>
	                    </apex:panelGrid> 
					</apex:form>
				</div>
			</apex:outputPanel>

		</apex:define>
	</apex:composition>
</apex:page>