<apex:page standardController="Contact" id="ContactPage">

<script>
function doit()
{
  var name =document.getElementById("ContactPage:Contactpg:Contactform:Contactname").value;
  parent.location.replace("/apex/FacebookForLeadVF?core.apexpages.devmode.url=1&q="+name);

    
}
function doit1()
{
  var email =document.getElementById("ContactPage:Contactpg:Contactform:Contactemail").value;
  parent.location.replace("/apex/FacebookForLeadVF?core.apexpages.devmode.url=1&q="+email);
    
}
function doitle()
{
  var email =document.getElementById("ContactPage:Contactpg:Contactform:Contactemail").value;
  parent.location.replace("/apex/LinkedInForLeadVF?core.apexpages.devmode.url=1&search=&email="+email);
    
}
function doitln()
{
  var leadfirstname =document.getElementById("ContactPage:Contactpg:Contactform:Contactfirstname").value;
  var leadlastname =document.getElementById("ContactPage:Contactpg:Contactform:Contactlastname").value;
  parent.location.replace("/apex/LinkedInNameSrch?lname="+leadlastname+"&core.apexpages.devmode.url=1&search=&fname="+leadfirstname);
    
}
function doittn()
{
  var name =document.getElementById("ContactPage:Contactpg:Contactform:Contactname").value;
  parent.location.replace("/apex/TwitterForLeadVF?core.apexpages.devmode.url=1&q="+name);
    
}
</script>
<apex:pageBlock id="Contactpg">
<apex:form id="Contactform">
<apex:inputHidden value="{!Contact.name}" id="Contactname"/>
<apex:inputHidden value="{!Contact.Email}" id="Contactemail"/>
<apex:inputHidden value="{!Contact.FirstName}" id="Contactfirstname"/>
<apex:inputHidden value="{!Contact.LastName}" id="Contactlastname"/>
</apex:form>
<br/>
<table>
<tr>
<td>
<apex:outputLabel style="font-weight:bold;" value="Facebook Search by Email" ></apex:outputLabel>
</td>
<td>
<div style="position:relative;left:110px;">
<apex:image url="{!$Resource.SocCRMbeta__FaceBook}" onclick="doit1();"  onmouseover="this.style.cursor='pointer';"/>
</div>
</td>
</tr>
<tr>
<td>
<apex:outputLabel style="font-weight:bold;" value="Facebook Search by Name" ></apex:outputLabel>
</td>
<td>
<div style="position:relative;left:110px;">
<apex:image url="{!$Resource.SocCRMbeta__FaceBook}" onclick="doit();" onmouseover="this.style.cursor='pointer';"/>
</div>
</td>
</tr>
<tr>
<td>
<apex:outputLabel style="font-weight:bold;" value="LinkedIn Search by Email" ></apex:outputLabel>
</td>
<td>
<div style="position:relative;left:110px;">
<apex:image url="{!$Resource.SocCRMbeta__LinkedLn}" onclick="doitle();"  onmouseover="this.style.cursor='pointer';"/>
</div>
</td>
</tr>
<tr>
<td>
<apex:outputLabel style="font-weight:bold;" value="LinkedIn Search by Name" ></apex:outputLabel>
</td>
<td>
<div style="position:relative;left:110px;">
<apex:image url="{!$Resource.SocCRMbeta__LinkedLn}" onclick="doitln();" onmouseover="this.style.cursor='pointer';"/>
</div>
</td>
</tr>
<tr>
<td>
<apex:outputLabel style="font-weight:bold;" value="Twitter Search By Name" ></apex:outputLabel>
</td>
<td>
<div style="position:relative;left:110px;height:29px;">
<apex:image url="{!$Resource.SocCRMbeta__Twitter}" onclick="doittn();" onmouseover="this.style.cursor='pointer';"/>
</div>
</td>
</tr>
</table>
 
 </apex:pageBlock>
</apex:page>