<apex:page controller="SocCRMbeta.TwitterForce" id="MassCreateLeadPage">
<apex:includeScript id="TwitterForceJs" value="{!$Resource.SocCRMbeta__TwiiterForceJs}"/>
<head>
<style type="text/css">
.button {
   display: -moz-inline-stack;
   display: inline-block;
   width: 138px;
   height: 26px;
   background-image: url("{!$Resource.TwiiterProfileSearch}");
   line-height: 26px;
   vertical-align: text-middle;
   text-align: center;
   color: #ffffff;
   font-family: Calibri;
   font-size: 12px;
   font-weight: bold;
   font-style: normal;
   text-shadow: #1f1f23 1px 1px 0;
}
.button > span {
   display: -moz-inline-block;
}


input.groovybutton { font-size:10px;
width:100px; height:24px;
border-style:Dotted;
border-width: 2px;
border-color:#277327;
}
</style>


</head>


<apex:form id="txfrLeadForm" >
<apex:inputHidden id="storesrchtextold"  value="{!fetcholdValue}"/>
<apex:inputHidden id="storesrchtextnew"  value="{!fetchnewValue}" />
<apex:pageMessages > </apex:pageMessages>
<apex:pageBlock rendered="{!hidsspageblock}" >
<apex:dataTable value="{!savedres}" var="ss" cellPadding="4" border="1" align="center" >
<apex:column headerValue="Saved Searches">
<apex:commandLink action="{!clickSearch}">
{!ss.SocCRMbeta__Keyword__c}
<apex:param name="q" value="{!ss.SocCRMbeta__Keyword__c}" assignto="{!resultkeyword}" />
</apex:commandLink>
<!--<apex:outputLink target="_blank" value="/{!ss.SocCRMbeta__Keyword__c}" >
{!ss.SocCRMbeta__Keyword__c}
</apex:outputLink> -->
</apex:column>
</apex:dataTable>
</apex:pageBlock>
<apex:pageBlock rendered="{!hidpageblock}">
<apex:dataTable value="{!Leadlist}" var="cl" cellPadding="4" border="1" align="center">
<apex:column headerValue="Newly Created Lead(s)">
<apex:outputLink target="_blank" value="/{!cl.id}" >
{!cl.id}
</apex:outputLink>
</apex:column>
</apex:dataTable>
</apex:pageBlock>
<table cellspacing='2' cellpadding='2' border='0' align='center'>
<tr><td colspan='2' align = 'center'><br/>
<apex:image url="{!$Resource.SocCRMbeta__TwitterImage}"/><br/><br/><br/></td>
<td></td>
</tr>
<tr>
<td >
<apex:inputText id="searchtxt" value="{!SearchText}" size="40" maxlength="141" style="height:23px;font-size:17px;border-width:3px;border-color:#4F9241"  onblur="setvalue();"  onkeyup="displayunicode(event);" onKeyPress="check_length(document.forms['MassCreateLeadPage:txfrLeadForm:searchtxt']);" /></td><td>
<apex:commandButton id="searchcmd" action="{!fetchdata}" onclick="return ChksrchText();" styleclass="button" />
<br/><br/><br/><br/>
</td></tr>
<tr>
<td align='right'>
<apex:commandButton id="savesrch" action="{!savesrch}"  rendered="{!showssbtn}" image="{!$Resource.SocCRMbeta__Savethissearch}" onclick="headerChk();"/>
</td>
<td align='right'>  
<apex:commandButton id="rmsavesrch" action="{!rmsavesrch}"  rendered="{!showrmsbtn}" image="{!$Resource.SocCRMbeta__RemovethissavedSearch}"  onclick="headerChk();"/>
</td>
</tr>
<!--<tr><td><apex:outputText title="SrchValue" value="{!SearchText}"  style="font-style:bold;font-size:24px;color:black;" rendered="{!NOT(ISNULL(SearchText))}"></apex:outputText>  <br/><br/></td></tr>--><br/>
</table><table>
<tr>
<td>
<apex:pageBlock rendered="{!HidePageBlock}">
<apex:DataTable value="{!parsexml}" columnswidth="50px"  var="a" cellpadding="4" border="1" bgColor="#97CD39" style="font-style:bold;color:white;border:1px solid #3399CC;"  id="resultsDataTable" rendered="{!NOT(ISNULL(SearchText))}">
<apex:column >
<apex:facet name="header"><apex:inputCheckbox id="selectall" selected="false" 
onclick="javascript:customSelectAllOrNoneByCheckbox(document.forms['MassCreateLeadPage:txfrLeadForm'],'MassCreateLeadPage:txfrLeadForm:resultsDataTable:', this);"/></apex:facet>
<apex:inputCheckbox value="{!a.selected}" id="selected" />
</apex:column>
<apex:column headervalue="Image">
<img src="{!a.image}" height="48px" width="48px"/>
</apex:column>
<apex:column headervalue="Twitter ID" value="{!a.id}"/>
<apex:column width="200px" headervalue="Twitter Url">
<apex:outputLink value="{!a.url}" target="_blank">{!a.url}</apex:outputLink></apex:column>
<apex:column headervalue="Screen Name" value="{!a.screenName}"/>
<apex:column headervalue="Name" value="{!a.name}"/>
<apex:column headervalue="Location" value="{!a.location}"/>
<apex:column headervalue="Description" value="{!a.description}"/>
<apex:column headervalue="Conversation" value="{!a.title}"/>
<apex:column headervalue="Conversation Time" value="{!a.ConvTime}"/>

</apex:DataTable>
</apex:pageBlock>
</td>
</tr>
<br/>
</table>
<table><tr><td><apex:commandButton value="Create Lead" id="createlead" action="{!Insertdata}" styleclass="groovybutton" rendered="{!hdInsert}"  onclick="headerChk();"/></td></tr></table>
<br/>
<br/><br/>
<br/><br/>
<table align='center'>
<tr><td>
<apex:commandButton value="Newer" id="Newer" action="{!Newerdata}" rendered="{!Disabledbuttonnew}" styleclass="groovybutton" onclick="headerChk();"/></td>
<td><b><apex:outputText value="{!Pagedisp}" rendered="{!mkVisible}"></apex:outputText></b></td>
<td><apex:commandButton value="Older" id="Older" action="{!Olderdata}" rendered="{!Disabledbutton}" styleclass="groovybutton" onclick="headerChk();"/></td></tr>
</table>
</apex:form>
</apex:page>